:root {
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(178, 48%, 52%);
  --bright-Yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --semi-white: hsla(0, 0%, 100%, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--light-gray);
  font-family: 'Karla', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 4.5rem 2rem;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: -0.17px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card {
  max-width: 635px;
  background-color: #fff;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  border-radius: 8px;
  display: grid;
  overflow: hidden;
}

.card__item {
  padding: 1.5rem;
}

.card__item--top {
  grid-column: 1 / -1;
}

.card__item--center {
  background-color: var(--cyan);
  color: #fff;
}

.card__item--bottom {
  background-color: var(--light-cyan);
  color: var(--transparent-white);
}

.card__title {
  color: var(--cyan);
  font-size: 1.25rem;
  letter-spacing: -0.25px;
  margin-bottom: 1.5rem;
}

.card__subtitle {
  font-size: 1.125rem;
  letter-spacing: -0.22px;
  margin-bottom: 1.125rem;
  color: white;
}

.card__brief {
  color: var(--bright-Yellow);
  font-size: 0.9375rem;
}

.price-text {
  margin-top: 1rem;
  color: var(--grayish-blue);
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.price__value {
  font-size: 2rem;
  font-weight: 700;
}

.price__term {
  color: var(--semi-white);
  margin-left: 0.75rem;
}

.btn {
  display: inline-block;
  margin-top: 1.625rem;
  background-color: var(--bright-Yellow);
  width: 100%;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 0.875rem 0;
  color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}

@media (min-width: 640px) {
  p {
    font-size: 1rem;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
  }

  .card__item {
    padding: 2.5rem;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__brief {
    font-size: 1.125rem;
  }

  .price-text {
    margin-top: 0.6875rem;
  }
}
